## Load Dataset

In [191]:
import pandas as pd
import random as rd
import numpy as np
df = pd.read_csv('loan.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## Dataset Info

In [192]:
# df.info()
df['Gender'].describe()

count      601
unique       2
top       Male
freq       489
Name: Gender, dtype: object

## Data Cleaning

### Task1: Deal with NULL rows
In this part, I will use a function to deal with NULL rows. All the spaces will be randomly filled with other values in the same column

In [193]:
df.drop("Loan_ID", axis=1, inplace=True)
# Checking the Missing Values

# A function used to fill missing data from the same column randomly
def random_FillMissingData(_df: pd.DataFrame) -> pd.DataFrame:
    df = _df.copy()
    for column in df.columns:
        data = df[column].copy()
        data[data.isnull()] = rd.choices(data[~data.isnull()].values, k = data.isnull().sum())
        df[column] = data
    return df

df = random_FillMissingData(df)

df.to_csv("./temp/temp.csv", index=False) # DEBUG ONLY

print(df['Self_Employed'].value_counts())

print(df.isnull().sum())

No     530
Yes     84
Name: Self_Employed, dtype: int64
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

## Encode

In [194]:
# Task2 deal with categorical features
# Tip df.Gender=df.Gender.map({'Male':1,'Female':0})

## Data process

In [195]:
# Task3 split the dataset into X_train, X_test, y_train, y_test
# Optional: you can also use normalization

## Train

In [196]:
from Logistic import LogisticRegression
import matplotlib.pyplot as plt
# Task4 train your model and plot the loss curve of training

ModuleNotFoundError: No module named 'matplotlib'

## Test

In [ ]:
# Task5 compare the accuracy(or other metrics you want) of test data with different parameters you train with